<style>
    .footer {
        display: flex;
        width: 99.1vw;
        border-top: solid 1px;
        font-size: 20px;
        align-items: center;
        flex-direction: column;
        background: #e1e5ee;
    }

    ul {
        padding: 0;
    }

    .footer-nav {
        display: flex;
    }

    .footer-links {
        margin-top: 10px;
    }

    .fa {
        padding: 12px;
        font-size: 30px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
        border-radius: 50%;
        background-color: black;
        color: white;
    }

    .fa:hover {
        opacity: 0.7;
    }
</style>

<nav class="footer-nav" fragurl="/fragments/footer.html">
    <ul>
        <a>Usefull Links</a>
        <nav class="footer-links">
            <ul><a href="/shop">Shop</a></ul>
            <ul><a href="/public">Communities</a></ul>
        </nav>
    </ul>
    <ul>
        <a>Need help?</a>
        <nav class="footer-links">
            <ul><a href="/info">Contact Me</a></ul>
        </nav>
    </ul>
    <ul>
        <a>Legal</a>
        <nav class="footer-links">
            <ul><a href="/terms-of-service">Terms of service</a></ul>
            <ul><a href="/privacy-policy">Privacy Policy</a></ul>
        </nav>
    </ul>
</nav>
<div id="socals">
    <a href="https://twitter.com/MasonHuman_" class="fa fa-twitter"></a>
    <a href="https://www.youtube.com/channel/UCQrGopdL9o3yngRFdQyiCeg" class="fa fa-youtube"></a>
    <a href="https://www.instagram.com/masonhuman_/" class="fa fa-instagram"></a>
    <a href="https://www.tiktok.com/@masonhuman_" class="fa fa-brands fa-tiktok"></a>
    <br>
    <span style="font-size: 20px;">L. Khaliq 2021 | Version Devleopment 1.2</span>
</div>